BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: false
ReflowComments: true
SortIncludes: true
NamespaceIndentation: None
AccessModifierOffset: -2
AlignConsecutiveAssignments: Consecutive
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: true
  SplitEmptyNamespace: true