# Build
/build/
/dist/

# CMake
CMakeFiles/
CMakeCache.txt
compile_commands.json
cmake_install.cmake
install_manifest.txt

# Editors
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Tests
Testing/